<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyectoweb</title>
    <link rel="stylesheet" href="about.css">
<body style="background-color: #1e1d2b;"
  
 
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>
<body>
    <h1 class="about">About Us</h1>
   <h3 class="speak"> We speak the good
                           
   </h3>
   <h3 class="speaktwo">food language</h3>
<p class="text">It is a long established facet that
            
           
</p>
<p class="texttwo">
 a be distraired by the readable content
</p>
<p class="texttres">
   looking at its layout. The point of
</p> 
<img src="storage/img/about.png" alt="about" class="about">
</body>

<body>
</body>
</html>