<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proyectoweb</title>
    <link rel="stylesheet" href="home.css">
    
<body style="background-color: #1e1d2b;"
  
 
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>
<body>
    <img src="s" alt="">
   
   
   <h1 class="faceca">Food</h1>
   <ul class="homeca">
    <lic class="">
        <p> <a href="index.html">Home</a></p >
        <p> <a href="about.html">About</a></p>
        <p>Menu</p>
        <p>Service</p>
        <p>Contact</p>
    </li>
   </ul>
 <img src="storage/img/font.svg" alt="font" class="font">

</body>
</html>